* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;;
}

body {
	background-color: #EDEEF0!important; 
}

.flexbox {
	display: flex;
	justify-content: space-between;

	width: 100%;
	max-width: 750px;
	height: 100vh;

	overflow: hidden;

	margin: 0 auto;
	padding: 15px;
}

.flexbox .board {
	display: flex;
	flex-direction: column;

	width: 100%;
	max-width: 300px;

	background-color: #313131;
	
	padding: 15px;
}

.flexbox .board .card {
	padding: 15px 25px;
	background-color: #f3f3f3;

	cursor: pointer;
	margin-bottom: 15px;
}



body {
	overflow-y: auto!important;
	background-color: #EDEEF0; 
}

.overflow-a {
	overflow: auto;
}


.w-75 {
	width: 75%!important;
}

.w-80 {
	width: 80%!important;
}

.mw-100 {
	max-width: 100%;
}

.my-20 {
	margin-top: 20px;
	margin-bottom: 20px;
}

.content-card-answer {
	margin-top: 15px;
	margin-bottom: 60px;
}

.footer-answer-count {
	position: fixed;
	bottom: 0px;
	height: 55px;
	width: 100%;
	left: 0;
	right: 0;
	z-index: 10000;
	-webkit-box-shadow: 0px -2px  2px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    0px -2px  2px 0px rgba(50, 50, 50, 0.5);
	box-shadow:         0px -2px  2px 0px rgba(50, 50, 50, 0.5);
	display		: table-cell;
	vertical-align	: middle;
	font-size: 45px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	color: #363636;
	background-color: #EFEFF4;
}


.timeHeader {
	margin-top: auto;
	height: 55px;
	-webkit-box-shadow: 0px 2px  2px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    0px 2px  2px 0px rgba(50, 50, 50, 0.5);
	box-shadow:         0px 2px  2px 0px rgba(50, 50, 50, 0.5);
	display: table;
	width: 100%;
	text-align: center;
	color: #363636;
	background-color: white;
}

.timeHeader-span {
	display		: table-cell;
	vertical-align	: middle;
	font-size: 200%;
	font-family: Arial, Helvetica, sans-serif;
}



.h-vh-100 {
	height: 100vh;
}

.bg-home {
	background-image: url(https://i.pinimg.com/originals/93/a0/19/93a0197f74f6b7b4a1bdaed3818ef3c7.png);
}

.text-white_total * {
	color: white;
}

.text-white {
	color: white;
}

.link-disable {
	text-decoration: none;
}

.menu-block a {
	text-decoration: none;
}

.mt-100 {
	margin-top: 100px;
}

.mt-35 {
	margin-top: 35px;
}

.font-arial {
	font-family: Arial, Helvetica, sans-serif;
}

.topMenu {
	height: 44px;
	margin-bottom: 20px;
}

.position-fixed {
	position: fixed;
}

.card-question {
	display: grid;
	justify-content: center;
}

.main-block-page {
	display: grid;
	justify-content: center;
	margin-top: 20px;
	height: auto;
}

.main-block-page div{
	width: 20em;
	margin-bottom: 30px; 
}


.menu-main-block {
	display: grid;
	justify-content: center;
	margin-top: 100px;
	height: 80vh;
}

.menu-block {
	width: 50vh;
	height: 30vh;
}

.menu-block a .button{
	height: 100px;
	padding-top: 2em;
}

.user-auth-block {
	display: grid;
	justify-content: center;
	margin-top: 50px;
	height: auto;
}

.center-flex {
	justify-content: center;
	display: flex;
}